.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 300px; 
    height: auto; 
    z-index: 10; 
}


.logomenu {
    width: 80px; 
    height: 40px; 
    margin-top: 5px;
}


.menu {
    background-color: #333;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 5px 20px; 
    z-index: 1000;
}


.menu ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center; 
    width: 100%; 
    justify-content: center; 
}


.menu ul li {
    padding: 10px 20px; 
}


.menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}


.menu ul li a:hover {
    color: #FA9D1B;
}


.logo-item {
    margin-right: 20px; 
    display: flex;
    align-items: center;
    position: absolute;
    left: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px; 
}


.menu ul li:not(.logo-item) {
    margin-left: 20px; 
}


.menu-social {
    background-color: #333; 
    position: fixed; 
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    z-index: 1000;
}

.menu-social ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu-social ul li {
    padding: 5px 20px;
}

.menu-social ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu-social ul li a:hover {
    color: #FA9D1B; 
}

body {
    background-image: url('FondoEquipos.jpg'); 
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.contenedor {
    background-color: rgba(211, 211, 211, 0.9); 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    width: 80%;
    max-width: 900px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

h2 {
    text-align: center;
}

.contenido {
    text-align: justify;
}

section{ 
    display: flex; width: 600px; height: 430px;
} 

section img{
        width: 0px; flex-grow: 1; object-fit: cover; opacity: .8; transition: .5s ease;
} 

section img:hover{
    cursor: crosshair; width: 300px; opacity: 1; filter: contrast(120%);
}


